language: node_js

stages:
  - check
  - test

node_js:
  - '12'

os:
  - linux

env:
  # This stops Windows builds from hanging
  # https://travis-ci.community/t/timeout-after-build-finished-and-succeeded/1336
  - YARN_GPG=no

addons:
  apt:
    packages:
      # Fixes error while loading shared libraries: libgconf-2.so.4: cannot open shared object file: No such file or directory
      # https://github.com/electron/electron/issues/1518
      - libgconf-2-4
      # Ensure chrome is the latest version
      # https://stackoverflow.com/questions/57903415/travis-ci-chrome-62-instead-of-77
      - dpkg
  chrome: stable

script: npx nyc -s npx aegir test -t node --timeout 10000 --bail
after_success:
  - npx nyc report --reporter=text-lcov > coverage.lcov && npx codecov

jobs:
  include:
    - stage: check
      script:
        - npx aegir build --bundlesize

    - stage: test
      name: external - ipfs-webui
      script:
        - npm ci
        - E2E_IPFSD_TYPE=js IPFS_JS_EXEC=$(realpath ./src/cli/bin.js) npm run test:external -- ipfs-webui https://github.com/ipfs-shipyard/ipfs-webui.git --branch "fix/test-external"

notifications:
  email: false
